*.iml
.gradle
.kotlin/
/local.properties
.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
*.log
/build
/app/build
/app/release/
/app/**/output-metadata.json
/app/*.apk
/app/*.aab
/app/*.apks
/app/*.zip
*.apk
*.aab
*.apks
*.jks
*.keystore
*.p12
*.pem
google-services.json
*.hprof
/captures
.externalNativeBuild
.cxx
local.properties
